@model IEnumerable<SkateSpotsFinalProject.Models.LearnTrick>

@{
    ViewBag.Title = "Tricks to Learn";
}

<h2>Tricks to Learn</h2>

<p class="trickLinks">@Html.ActionLink("Ollie", "Ollie")</p>

<p class="trickLinks">@Html.ActionLink("Pop-Shuvit", "PopShuvit")</p>

<p class="trickLinks">@Html.ActionLink("BS/FS 180", "OneEighty")</p>

<p class="trickLinks">@Html.ActionLink("Kickflip", "Kickflip")</p>

<p class="trickLinks">@Html.ActionLink("Heelflip", "Heelflip")</p>

<p class="trickLinks">@Html.ActionLink("Varial Kickflip", "VarialKickflip")</p>

<p class="trickLinks">@Html.ActionLink("Varial Heelflip", "VarialHeelflip")</p>

<p class="trickLinks">@Html.ActionLink("360 Flip", "ThreeSixtyFlip")</p>

<p class="trickLinks">@Html.ActionLink("Lazer Flip" , "LazerFlip")</p>


<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrickName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrickName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LearnTrickID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LearnTrickID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LearnTrickID })
        </td>
    </tr>
}

</table>
