@model IEnumerable<SkateSpotsFinalProject.Models.LearnTrick>

@{
    ViewBag.Title = "Tricks to Learn";
}

<h2>Tricks to Learn</h2>

@*<div>
    <p id="learnTricksHead">Follow the video tutorials on these tricks and try tracking your progress in the logger page.</p>
</div>*@

<ul>
    <li class="trickLinks">@Html.ActionLink("Ollie", "Ollie")</li>

    <li class="trickLinks">@Html.ActionLink("Pop-Shuvit", "PopShuvit")</li>

    <li class="trickLinks">@Html.ActionLink("BS/FS 180", "OneEighty")</li>

    <li class="trickLinks">@Html.ActionLink("Kickflip", "Kickflip")</li>

    <li class="trickLinks">@Html.ActionLink("Heelflip", "Heelflip")</li>

    <li class="trickLinks">@Html.ActionLink("Varial Kickflip", "VarialKickflip")</li>

    <li class="trickLinks">@Html.ActionLink("Varial Heelflip", "VarialHeelflip")</li>

    <li class="trickLinks">@Html.ActionLink("360 Flip", "ThreeSixtyFlip")</li>

    <li class="trickLinks">@Html.ActionLink("Lazer Flip", "LazerFlip")</li>

    <li class="trickLinks">@Html.ActionLink("Hardflip", "Hardflip")</li>

    <li class="trickLinks">@Html.ActionLink("Inward Heelflip", "InwardHeelflip")</li>
</ul>



@*<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrickName)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrickName)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.LearnTrickID }) |
            @Html.ActionLink("Details", "Details", new { id=item.LearnTrickID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.LearnTrickID })
        </td>
    </tr>
}

</table>*@
