@model IEnumerable<SkateSpotsFinalProject.Models.SkateLogger>

@{
    ViewBag.Title = "Index";
}

<h2>Log Your Progress</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.TrickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Attempts)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Landed)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HowLongMinutes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TrickName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Attempts)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Landed)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HowLongMinutes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.SkateLoggerID }) |
            @Html.ActionLink("Details", "Details", new { id=item.SkateLoggerID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.SkateLoggerID })
        </td>
    </tr>
}

</table>
